<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>TinyApp - My URLs</title>
</head>
<body>
  <%- include('partials/_header') %>
  
  <main style="margin: 1em;">
    <h2>My URLs</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (const id in urls) { %>
          <tr>
            <td><a href="/u/<%= id %>"><%= id %></a></td>
            <td><%= urls[id] %></td>
            <td><a href="/urls/<%= id %>">Edit</a></td>
            <td>
              <form method="POST" action="/urls/<%= id %>/delete">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min